@{
  Layout = "_Layout";
}
@model Factory.Models.Machine;
<div class="mainCont">
  <div class="head">
    <h1>Details regarding the: @Html.DisplayFor(model => model.MachName)</h1>
  </div>
  <div class="content">
    <p>Machine Name: @Html.DisplayFor(model => model.MachName)</p>
    @if (@Model.JoinEntities.Count == 0)
    {
      <div class="back">
        <p>No Engineers are currently able to work on this Machine, Woopsies!</p>
      </div>
    }
    else
    {
      <div class="back">
        <p>Engineers available to work on this Machine:</p>
      </div>
      <ul>
        @foreach (var join in Model.JoinEntities)
        {
          <div class="back">
            <li>@join.Engineer.EngName</li>
          </div>
        }
      </ul>
    }
  </div>
  <div class="back">
    <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
    <p>@Html.ActionLink("Back to list of all Machines", "Index")</p>
  </div>
</div>
</div>