@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<div class="mainCont">
  <div class="head">
    <h1>Engineer Profile for @Html.DisplayFor(model => model.EngName):</h1>
  </div>
  <div class="content">
    <h3>@Html.DisplayFor(model => model.EngName)</h3>
    @if (@Model.JoinEntities.Count == 0)
    {
      <p>This Engineer is not currently available to work on any Machines :(</p>
    }
    else
    {
      <p>This Engineer is able to repair the following machines:</p>
      <ul>
        @foreach (var join in Model.JoinEntities)
        {
          <li>@join.Machine.MachName</li>
          @using (Html.BeginForm("DeleteMachine", "Engineers"))
          {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <div class="back">
              <input type="submit" value="Delete" class="btn btn-default">
            </div>
          }
        }
      </ul>
    }
  </div>
  <div class="back">
    <p>@Html.ActionLink("Register Machine for this Engineer", "AddMachine", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Edit this Engineer", "Edit", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Delete this Engineer", "Delete", new { id = Model.EngineerId })</p>
    <p>@Html.ActionLink("Back to our Engineers List", "Index")</p>
  </div>
</div>
