@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit</h1>

<hr>

<p>Edit Engineer: @Html.DisplayFor(model => model.EngName)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <p>Name:
  @Html.TextBoxFor(model => model.EngName, new { @required="required" })</p>

  @Html.Label("Add new Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" class="btn btn-default">
}

<hr>

<p>@Html.ActionLink("Back to List of our Engineers", "Index")</p>

<hr>